MARIADB_DB_HOST=mariadb
MARIADB_DB_NAME=test
MARIADB_PORT=3306
MARIADB_USER=root
MARIADB_PASSWORD=root

CLICKHOUSE_DB_HOST=clickhouse
CLICKHOUSE_DB_NAME=test
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=root
CLICKHOUSE_PASSWORD=root

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=default
RABBITMQ_PASSWORD=default